body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 300;
    color: #8B8B8B;
    background-color: #FAFAFA;
    margin: 0;
}

.wrapper {
    padding: 60px 20px;
}

.logo {
    max-width: 400px;
    width: 100%;
}



/* nadpisy, odstavce */
h1 {
    font-size: 28px;
    font-weight: 500;
    color: black;
    margin: 40px 0px;
}

h2 {
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin: 60px 0px 15px 0px;
}

p {
    max-width: 550px;
    margin: 0 auto 30px auto;
    font-size: 16px;
}



/* tlačítka */
.button {
    display: block;
}

a.button {
    font-weight: 400;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    max-width: fit-content;
    margin: 0px auto 10px auto;
}

.blue {
    background-color: #407BFF;
}

.grey {
    background-color: #8B8B8B;
}

.blue:hover {
    background-color: #407cffa8;
}

.grey:hover {
    background-color: #8b8b8ba3;
}



/* karty */
.card {
    display: flex;
    padding: 20px;
    background-color: white;
    margin: 0px auto 15px auto;
    box-shadow: #407BFF1F 2px 5px 5px;
    border-radius: 10px;
    max-width: 460px;
    gap: 30px;
    font-size: 13px;
    text-align: left;
    align-items: center;
}

.cardImage,
.cardText  {
    background-color: white;
}





/* tablet 640 a víc */
@media screen and (min-width: 640px) {
    
    .cards {
        display: flex;
        gap: 20px;
        flex: 1 1 30%;
    }

    .card {
        display: block;
        text-align: center;
        margin: 0;
        padding: 40px 15px 20px 15px;
    }

    .cardImage {
        margin: 0px auto 20px auto;
    }

    h2 {
        margin-top: 80px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    a.button {
        margin: 0px;
    }

    p {
        margin-bottom: 40px;
    }

    h1 {
        margin-top: 30px;
    }
}





/* pc 1100px a víc */
@media screen and (min-width: 1100px) {

    .section {
        display: flex;
        gap: 60px;
        align-items: center;
    }

    .wrapper {
        margin: 0px auto;
        max-width: 1040px;
    }

    h1,
    h2 {
        margin-top: 0;
    }





    /* první sekce  */
    .first {
        flex-direction: row-reverse;
        align-items: center;
    }

    .happy,
    .main {
        max-width: 490px;
        flex-grow: 1;
    }

    .logo {
        max-width: 425px;
        text-align: center;
    }

    .happy {
        text-align: left;
    }






    /* druha a treti  */
    .cards {
        max-width: 550px;
    }

    .services {
        max-width: 430px;
    }

    .second,
    .third {
        margin-top: 80px;
    }

    .services {
        text-align: left;
    }

    .second p,
    .third p {
        margin-bottom: 0;
    }





    /* druha */
    .second {
        flex-direction: row-reverse;
    }

}